
@media (max-width: 1024px) {
  nav li {
      margin-right: 0.5rem;
  }
}


@media (max-width: 768px) {
  nav {
      display: block;
  }

  nav ul {
      justify-content: center;
  }

  nav li {
      margin: 0.5rem;
  }

  main {
      padding: 1rem;
  }

  section h1,
  section h2 {
      font-size: 1.5rem;
  }
}


@media (max-width: 480px) {
  nav {
      text-align: center;
  }

  nav li {
      margin: 0.5rem;
  }

  main {
      padding: 0.5rem;
  }

  section h1,
  section h2 {
      font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
    .contacts {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .contact-form {
      width: 35%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .contacts {
      grid-template-columns: 1fr 1fr;
    }
    .contact-form {
      width: 45%;
    }
  }
  
  
  @media (max-width: 767px) {
    .contacts {
      grid-template-columns: 1fr;
    }
    .contact-form {
      width: 75%;
    }
  }
/*   
@media (max-width: 450px) {
    header div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header div p {
        margin-bottom: 10px;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    header div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header div p {
        margin-bottom: 0;
    }

    header nav {
        flex-direction: column;
    }
} */

/* Responsive styles */

@media (max-width: 450px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .textbox1 {
    max-width: 100%;
    margin-right: 0;
  }

  .grid1 {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 20px;
  }

  .grid1 img {
    margin-right: 0;
  }

  #newss {
    grid-template-columns: 1fr;
  }

  .grid2 {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }

  .box {
    width: 100%;
  }

}

@media (min-width: 451px) and (max-width: 768px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 769px) and (max-width: 1080px) {
  .grid1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .grid-container {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .big-picture-text {
    left: 5%;
  }

  .image-1 {
    margin-right: 3rem;
  }

  .container1 {
    max-width: 90%;
  }

  .box1 {
    flex: 1;
    height: 23rem;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .big-picture-text {
    left: 10%;
  }

  .image-1 {
    margin-right: 2rem;
  }

  .container1 {
    max-width: 80%;
  }

  .box1 {
    flex: 1;
    height: 20rem;
    margin-right: 1rem;
  }
}


@media screen and (max-width: 767px) {
  .big-picture-text {
    left: 5%;
  }

  .image-1 {
    margin-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .left-content, .right-content {
    padding: 10px;
  }

  .image-1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    height: auto;
    margin-right: 0;
  }

  .container1 {
    max-width: 100%;
    flex-direction: column;
  }

  .box1 {
    flex: 1;
    height: 15rem;
    margin: 10px 0;
  }
}