
body {
    margin: 2;
    padding: 2;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #fff; 
    color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
header div {
  display: flex;
  align-items: center;
}

header p {
  margin-right: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header img {
  height: 2rem;
}

nav a {
    color: var(--secondary-text, #525560);
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    color:aquamarine;
}

main {
    padding: 20px;
    text-align: center;
}

.big-picture {
    position: relative;
    text-align: left;
 
}
.big-picture img {
    max-width: 100%;
    display: block;
    /* height:40rem; */
    
}
.big-picture-text {
    position: absolute;
    top: 30%;
    left: 20px;
    transform: translateY(-50%);
    color:#fff;
}
.big-picture-text h1 {
    font-size: 48px;
    font-style: normal;
font-weight: 700;
line-height: 120%;
font-family: "BPG Nino Elite Cond", sans-serif;
}

.big-picture-text p {
    color: var(--primary-text, #1D2130);
text-align: right;
font-size: 16px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FFF;
    backdrop-filter: blur(40px);
}

.team {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

        .picture-container {
            width: 80%;
            max-width: 1000px;
            position: relative;
          left: 15%;
           border-radius: 1.5%;
           opacity: 0.5;
            overflow: hidden;          
            display: flex;
            justify-content: center;
            height: 40vh;
            
        }
        
        .picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .text-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .text-container h1 {
            font-size: 2.5vw;
            color: #fff;
            text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.6);
        }

        .button1 {
            margin-top: 2%;
            padding: 1.5% 3%;
            font-size: 1.5vw;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 1vw;
            cursor: pointer;
        }

        .button1:hover {
            background-color: #0056b3;
        }

        .card-container {
          display: flex;
          flex-wrap: wrap;
        }
    
        .card {
          width: 18%; 
          margin: 2%;
          border: 1px solid #ccc;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          overflow: hidden;
        }
    
        .card img {
          width: 100%;
          height: auto;
          display: block;
        }
    
        .card-content {
          padding: 10px;
        }
    
        .card-title {
          font-size: 14px;
          font-weight: bold;
          margin: 5px 0;
        }
    
        .card-description {
          font-size: 12px;
          color: #666;
        }

.container1 {
  display: flex;
  max-width: 70%;
  margin: auto;
  padding: 10px;
}

.box1 {
  flex: 1;
  height: 23rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
margin-right: 1rem;
opacity: 0.8;

}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  background: var(--off-white, #EBF0F9);
  font-family: "BPG Nostalgia Bold", sans-serif;
}



.contact-form {
    width: 55%;
    margin: 0 auto; 
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.form-row .half {
    width: 45%;
}
.form-row label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-row input,
.form-row textarea {
    width: 100%;
    padding: 5px;
}
.form-row textarea {
    resize: vertical;
}
button {
    background: var(--green-primary, #70C174);
backdrop-filter: blur(40px);
    color: #fff;
    border: none;
    cursor: pointer;
padding: 16px 32px;
display: flex; /* This allows the justify-content property to work */
justify-content: center;
}

button:hover {
    background-color: #00cc66; 
}


  .footer-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    padding-bottom: 40px;
    padding-top: 70px;
    background-color: #000;
  }
  

  div.w-row {
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  .wcol4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 33.3333%;
  }
  

  h3.footer-failory-name {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
  }
  

  
  div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
  }
  
  h3.footer-titles {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
  }
  
  p.footer-links {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
  }
  
  a {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
  }

  
  span.footer-link {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
  }
  

  span {
    box-sizing: border-box;
  }
  
  strong {
    box-sizing: border-box;
    font-weight: 700;
  }
  
  div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41%;
  }
  
  strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
  }

  .about {
    display: flex;
    align-items: center; 
}

.text {
    flex: 1;
    padding: 20px;
}

.grid1 img {
    max-width: 90%;
    height: auto;
    margin-right: 20%; 
}

.do {
  margin: 20px;
  background: var(--green-tertiary, #EFF7F2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}

.grid-item p {
  opacity: 0.699999988079071;
  color: var(--primary-text, #1D2130);
}
h2 {
  text-align: center;
}

#nw {
  background: var(--green-tertiary, #EFF7F2);
}


.textbox1 {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 12px; 
  margin-right: 10%;
}

.grid1 {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;

}

.grid1 p {
  min-inline-size: 250px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}

#newss {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid2 {
  text-align: center;
  align-items: start; 
}

.grid2 img {
  max-width: 100%;
  height: 200px; 
  object-fit: cover; 
  margin-bottom: 10px;
}

.events {
  text-align: center; 
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #BEF3C0;
  margin: 10px;
  padding: 10px;
  width: 30%; 
  position:relative;
}

.date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

a.link {
  color:	#7B68EE;
  text-decoration: none; }

a.link:hover {
  text-decoration: underline; 
}